/* Write your CSS here */
.not-found-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
.not-found-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
}
