/* Write your CSS here */
.link-item {
  text-decoration: none;
  width: 50%;
}
.team-card {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 80%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 8px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 24px;
}

.team-logo {
  width: 80px;
  height: 80px;
}
.team-name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
  margin-left: 4px;
}
